
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div> 
        <h2>Welcome to about</h2>
    </div>
    @Html.ActionLink("Go To Contact Page","Contact")
</body>
</html>
