
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div> 
        @Html.ActionLink("Click Me", "Contact", new {name="Shyam"})
  
    </div>
</body>
</html>
